<h2 class="title">{{ localize 'BitD.gear'}}</h2>
<div class="item-create" title="{{ localize 'BitD.addGear' }}" data-type="equipment">
	<a class="large-icon"><i class="item-control fas fa-plus"></i></a>
</div>
<div class="bitd-gear-list">
	{{#each items as |item key|}}
	<li class="bitd-gear-item" id="{{key}}">
		{{item.name}} - {{ item.type }}
		<div class="item-delete" title="{{ localize 'BitD.deleteGear'}}">
			<a class="larg-icon"><i class="item-control fas fa-trash"></i></a>
		</div>
	</li>
	{{/each}}
</div>
